<div class="col-sm-6 col-sm-offset-3" stye="text-align: center">
  <form {{action 'submit' on='submit'}}>
    <label for="identification">Email</label>
    {{input id='identification' placeholder='Enter Login' value=identification class="form-control"}}
    <label for="password">Password</label>
    {{input id='password' placeholder='Enter Password' type='password' value=password class="form-control"}}
    <br>
    <button type="submit" class="btn btn-default">Login</button>
  </form>
{{error-display errorMessage=errorMessage}}
</div>

