{{#if session.isAuthenticated}}
  <li><a href="#">Hi, {{sessionAccount.account.email}}</a></li>
  <li><a href="#" {{action 'invalidateSession'}}>Logout</a></li>
{{else}}
  <li id="login">{{#link-to 'login'}}Login{{/link-to}}</li>
{{/if}}
{{outlet}}


